@model List<Comment>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Kategori</th>
            <th>Başlık</th>
            <th>Attığı Yorumlar</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title.Category.CategoryName</td>
            <td>@item.Title.TitleName</td>
            <td>@item.CommentDetails</td>
            <td><a href="/Comment/DeleteComment/@item.CommentID" class="btn btn-danger">Yorumu Sil</a></td>
        </tr>
    }
</table>