@model EditProfileViewModel
<div class="card mb-4">
    <div class="card-header">Şifreni Değiştir</div>
    <div class="card-body">
        <form method="post" action="/WriterProfile/EditPassword/">
            <!-- Form Group (current password)-->
            <div class="mb-3">
                <label class="small mb-1" for="currentPassword">Eski Şifre</label>
                <input class="form-control"  type="password" asp-for="OldPassword" placeholder="Güncel şifrenizi giriniz." required>
            </div>
            <!-- Form Group (new password)-->
            <div class="mb-3">
                <label class="small mb-1" for="newPassword">Yeni Şifre</label>
                <input class="form-control"  type="password" asp-for="NewPassword" placeholder="Yeni şifrenizi giriniz." required>
            </div>
            <!-- Form Group (confirm password)-->
            <div class="mb-3">
                <label class="small mb-1" for="confirmPassword">Yeni Şifre Onaylama</label>
                <input class="form-control"  asp-for="ConfirmPassword" type="password" placeholder="Yeni şifrenizi tekrar giriniz." required>
            </div>
            <button class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>