@model IPagedList<Title>
@{
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Başlıklar</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TitleName</td>
            <td><a href="/WriterComment/CommentsByTitle/@item.TitleID" class="btn btn-outline-dark btn-sm">Yorumları Görüntüle</a></td>
            @if (User.IsInRole("Yazar"))
            {
                <td><a href="/WriterComment/AddCommentsWTitle/@item.TitleID" class="btn btn-outline-dark btn-sm">Yorum Yap</a></td>
            }
        </tr>
    }
</table>
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}))
@if (User.IsInRole("Yazar"))
{
    <br />
    <a href="/WriterTitle/AddTitle/" class="btn btn-primary">Yeni Başlık Oluştur</a>
}

